@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Styling the scrollbar track */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar track */
}

/* Styling the scrollbar thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #5d5d5d; /* Set the color of the thumb */
  border-radius: 5px; /* Add rounded corners to the thumb */
}

/* Change the color on hover (optional) */
::-webkit-scrollbar-thumb:hover {
  background-color: #7c7a7a;
}